@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.nav_logo {
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  width: 50px;
}
